* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.puzzle {
  margin: 30px;
  display: flex;
  flex-direction: column;
}

.puzzle-main-area {
  margin: 30px 0;
  display: flex;
  gap: 60px;
}

.puzzle-my-location {
  flex-direction: column;
}

.puzzle-location {
  height: 600px;
  width: 600px;
  flex: 0 0 calc(50% - 30px);
  border: 1px solid black;
}

.puzzle-area {
  border: 1px solid blue;
  height: 600px;
  width: 600px;
  flex: 0 0 calc(50% - 30px);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.puzzle-wrapper {
  margin: 30px 0;
  column-gap: 10px;
  row-gap: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.puzzle-buttons {
  display: flex;
  gap: 20px;
}

.puzzle-buttons button {
  padding: 8px;
}